*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.contenido {
    background: #dfdce3;
}
.header {
    display: block;
    background: #fc4a14;
    color: #4abdac;
}
.nav {
    background: #fc4a14; 
    
    
  
}
.nav2 {
    color: #4abdac;
}
.imagen {
    width: 10%;
}

.fondo {
    background: url('../assets/images/paisaje.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 30vh; 
  /*  max-width:100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
           

}

.usuario1 {
   /* margin-top: 10%;*/
    width: 60%;
    
};
.fon {
}
.cont {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 2%;
    
    background: #fff;
    text-align: center;
}
.text textarea {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
.usuario {
    border-radius: 100px;
}
 .text, .ima {
    padding-left: 0;
    padding-right: 0;
}
.mapa {
    margin-top: 2%;
    margin-bottom: 2%;
}
.col {
    margin-top: 1rem;
}
.boton {
    background: #fc4a14;
    color: #fff;
    border: none;
    width:100%;
    float:right;
    margin-bottom: 1rem;
}
.boton:hover {
    color: #fff;
}
span {
    margin-right: 1rem;
}
.cont-btn {
    
}
/*----------------PERFIL HTML ----------------*/
.perfil-1 {
    margin-top: 2%;
}
.user-perfil {
    width: 50%;
}
h3 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.items {
    text-align: center;
}
.item {
    width: 13%;
    display:inline-block;
    margin-right: 1%;
    
}