*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
    background: #dfdce3;
}
/*-----HEADER----*/
.nav-header, 
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background:#56bdab; 
}
.navbar-default {
    border: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
} 
.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}
/*--- SECTION FONDO --*/  
.fondo-contenido {
    background: url('../assets/images/paisaje.jpg')
                center no-repeat;
    background-size: cover;
    width: 100%;
    height:50vh ;
}
.imagen2 img {
    width: 10%;
    display: inline-block;
}
/*---- SECTION POST ----*/

.cont-img-text {
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #dfdce3;
    overflow: hidden;
}
.p {
    border-radius: 100%;
}
.post {
    margin-top: 3%; 
    margin-right: 2%;
    
}
.post-1 {
    margin-top: 4%;
    border-radius: 12px;
    background: #fff;
}
.post:nth-child(2) {
    margin-right: 2%;
}
.boton {
   width: 85%;
   background: #56bdab;
   color: #fff;
}
textarea {
    width: 100%;
    resize: none;
    outline: none;
    
}
/*--------- MAPA ----*/
.fondo-mapa {
    background: url('../assets/images/mapa.jpg')
                center no-repeat;
    background-size: cover;
    width: 100%;
    min-height:60vh ;
}
.mapa {
    background: #fff;
    border-radius: 7px;
    padding: 4%;
    text-align: center;
}
/*.p1 {
    width: 12%;
    display: inline-block;
    margin-right: 1%;
    position: relative;
    top: 100px;
    left: 20%;
    border-radius: 100%;
}*/
.img-map {
    width: 20%;
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    top: 100px;
    left: 6%;
    border-radius: 100%;
}

.img-map5 {
  margin-top: 10%;
}
.chat {
    background: #56bdab;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    left: 72%;
}
.chat a {
    color: #fff;
    text-decoration: none;
}
/*-------- VISTA PERFIL.HTML -------*/
.per-cont {
    position: absolute;
    top: 25%;
    padding: 0;
    display: inline-block;
    margin-left: 12%;
    
}
.img-perfil {
    text-align: center;
}
.item {
    width: 18%;
    display:inline-block;
    margin: 1%;
    margin-right: 0.6rem;
    background: #56bdab;
    border-radius: 100%;
}

/*.post-2 {
    position: absolute;
    top: 20%;
}*/ 
.postear-text {
    margin-top: 60%;
    margin-left: 6%;
}
.cont-slider {
    margin-top: 4%;
}
.cont-slider img {
    margin:1%;
    margin-right: 5%;
}
.cont-slider img:nth-child(2) {
    margin-right:4%; 
}
.icon-left-right {
    position: relative;
    top: 5rem;
}

.iconos span {
    margin-right: 0.7rem;
}
@media (min-width: 768px){
    .per-cont {
        position: absolute;
        top: 52%;
        margin-left: 6%;
    }
    .postear-text {
       margin-top: 0;
         margin-left: 50%;
    }
    .pod {
        margin-top: 5%;
    }
    .icon-left-right {
        position: relative;
        top: 15rem;
    }
    
}
@media (min-width: 1024px){
    .cont-slider {
        margin-top: 12rem;
    }
}

/*-------  SECTION TODO APP ------*/
.new{
	background-color: #fff;
	margin: 15px 0;
	padding: 15px 40px 15px 15px;
	width: 100%;
	display: block;
	height: auto;
	word-wrap: break-word;
	position: relative;
	border-radius: 5px;
}
#container-to-do{
	margin: 15px 0;
}
.labeled{
	text-decoration:line-through;
}
.icon{
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 40%;
}

