<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contenido</title>
    <link rel="stylesheet" href="../assets/icon/style.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="contenido">
    <header class="header">
            <nav class="navbar nav navbar-default" role="navigation">
                    <!-- El logotipo y el icono que despliega el menú se agrupan
                         para mostrarlos mejor en los dispositivos móviles -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse"
                             >
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Logotipo</a>
                    </div>
                   
                    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                         otro elemento que se pueda ocultar al minimizar la barra -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Enlace #1</a></li>
                        <li><a href="#">Enlace #2</a></li>
                      </ul>
                    </div>
                  </nav>
                      
    <!--    <div class="imagen">
                <img src="../assets/images/usuario.jpg" class="usuario  img-responsive" alt="usuario">    
        </div> -->
    </header>
    <section class="fondo">
        <div class="container">
            <div class="fon col-xs-12 col-sm-8">
            <!--    <img src="../assets/images/usuario.jpg" class="usuario1 center-block img-responsive " alt="paisaje">-->
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-xs-12">
                <div class=" cont col-xs-12  col-md-6">
                    <div class="text col-xs-12 col-sm-12 col-md-12">
                        <div class="ima col-xs-3 col-sm-2 col-md-2">
                            <img src="../assets/images/usuario.jpg" class="usuario  img-responsive" alt="usuario">
                        </div>
                        <div class="textarea col-xs-9 col-sm-10">
                            <textarea name="" id="" class="" rows="4" placeholder="¿como te sientes hoy?"></textarea>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <div class="iconos col-xs-6">
                            <span><i class="glyphicon glyphicon-camera"></i></span>
                            <span><i class="glyphicon glyphicon-paperclip"></i></span>
                            <span><i class="icon-emoji-happy"></i></span>
                        </div>
                        <div class="cont-btn col-xs-6">
                            <input type="button" class="btn boton" value="Publicar">
                        </div>
                    </div>
                </div>
                
                <div class="cont col-xs-12 col-sm-6 col-md-6">
                    <div>
                        <h2 >Amigos cerca de ti</h2>
                    </div>
                    <div class="mapa">
                        <img src="../assets/images/mapa.jpg" class="img-responsive" alt="mapa">
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    

    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/contenido.js"></script>
</body>
</html>