<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>perfil</title>
    <link rel="stylesheet" href="../assets/icon/style.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!--HEADER MOVIL/DESKTOP-->
    <header>
            <nav class="nav-header navbar navbar-default  navbar-fixed-top">
                    <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar p"></span>
                                    <span class="icon-bar p"></span>
                                    <span class="icon-bar p"></span>
                                </button>
                                <a href="#" class="navbar-brand"></a>   
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-1">
                                <ul class="nav navbar-nav  navbar-right">
                                    <li ><a href="#" class="imagen2 " >usuario </a></li>
                                    <li ><a href="#" class="imagen2 " > Notificaciones</a></li>
                                    <li ><a href="#" class="imagen2 " > Historias</a></li> 
                                    <li ><a href="#" class="imagen2 " > Salir</a></li> 
                                </ul>
                            </div>
                    </div>
            </nav>
        </header>




    
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>