<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>perfil</title>
    <link rel="stylesheet" href="../assets/icon/style.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-perfil">
    <!--HEADER MOVIL/DESKTOP-->
    <header>
            <nav class="nav-header navbar navbar-default  navbar-fixed-top">
                    <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar p"></span>
                                    <span class="icon-bar p"></span>
                                    <span class="icon-bar p"></span>
                                </button>
                                <a href="#" class="navbar-brand"></a>   
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-1">
                                <ul class="nav navbar-nav  navbar-right">
                                    <li ><a href="#" class="imagen2 " ><img src="../assets/images/usertwo.png" class="img-responsive visible-xs" alt="">usuario </a></li>
                                    <li ><a href="#" class="imagen2 " ><img src="../assets/images/campana.png" class="img-responsive visible-xs" alt="">Notificaciones</a></li>
                                    <li ><a href="../views/contenido.html" class="imagen2 " ><img src="../assets/images/mundo2.png"  class="img-responsive visible-xs" alt="mundo"> Historias</a></li> 
                                    <li ><a href="../index.html" class="imagen2 " ><img src="../assets/images/salir.png"   class="img-responsive visible-xs"> Salir</a></li> 
                                </ul>
                            </div>
                    </div>
            </nav>
        </header>
        <!--******* FONDO PERFIL ******-->
        <section>
            <div class="fondo-contenido">
            </div>
        </section>
        <section>
                <div class="img-perfil per-cont col-xs-10 col-sm-4 col-md-5 col-lg-4">
                    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                        <div class="thumbnail">
                            <img src="../assets/images/usertwo.png" class="img-responsive" alt="1">
                            <div class="caption">
                              <h4>Nombre Apellido <span><i class="glyphicon glyphicon-camera"></i></span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="items col-xs-10 col-sm-12 ">
                            <span><img src="../assets/images/corazon.png" class="item img-responsive" alt="corazon"></span>
                            <span><img src="../assets/images/ocupacion.png" class="item img-responsive" alt="ocupacion"></span>
                            <span><img src="../assets/images/paper.png" class="item img-responsive" alt="avion"></span>
                            <span><img src="../assets/images/ultimo.png" class="item img-responsive" alt="ubicacion"></span>
                        </div>
                </div>       
        </section>
        <!--***** SECTION POST-PERFIL *****-->
        <section class="postear-text">
                <div class="row pod col-xs-12 col-sm-12 col-md-12">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <div class="post-1 col-xs-12 ">
                                <div class="cont-img-text col-xs-12">
                                    <div class="col-xs-4 col-sm-4"><img src="../assets/images/usertwo.png" class="img-responsive p" alt="1"></div>
                                    <div class="col-xs-8 col-sm-8"><textarea id="textarea-publicar" class="form-control" cols="30" rows="4"></textarea></div>
                                </div>
                                <div class="cont-img-text col-xs-12">
                                    <div class="iconos col-xs-6">
                                        <span><i class="glyphicon glyphicon-camera"></i></span>
                                        <span><i class="glyphicon glyphicon-paperclip"></i></span>
                                        <span><i class="icon-emoji-happy"></i></span>
                                    </div>
                                    <div class="cont-btn col-xs-6">
                                            <button class="btn boton" type="button" id="btn-publicar">Publicar</button>
                                     <!--   <input type="button" class="btn boton" id="btn-publicar" value="Publicar">-->
                                    </div>
                                </div>
                            </div>
                            <!--AQUI-->
                            <div id="content-post" class="col-xs-12 col-sm-12 col-md-10"></div>
                            <!--AQUI-->
                        </div>
                </div> 
                <div class="row pod col-xs-12 col-sm-12 col-md-12">
                        <div class=" col-xs-12 col-sm-12 col-md-12">
                            <div class="post-1 col-xs-12 ">
                                <div class="cont-img-text col-xs-12">
                                    <div class="col-xs-4 col-sm-4"><img src="../assets/images/llama.png" class="img-responsive p" alt="1"></div>
                                    <div class="col-xs-8 col-sm-8"><p>Bienvenid@ a Virú Social ya puedes publicar </p></div>
                                </div>
                                <div class="cont-img-text col-xs-12">
                                    <div class="iconos col-xs-6">
                                        <span><i class="glyphicon glyphicon-heart-empty"></i></span>
                                        <span><i class="glyphicon glyphicon-comment"></i></span>
                                        <span><i class="icon-emoji-happy"></i></span>
                                    </div>
                                    <div class="cont-btn col-xs-6">
                                        <a href="#"><span><i class="glyphicon glyphicon-share-alt"></i>Compartir</span></a>
                                    </div>
                                </div>
                            </div>
                            <!--AQUI-->
                            <div id="content-post" class="col-xs-12 col-sm-12 col-md-10"></div>
                            <!--AQUI-->
                        </div>
                </div>  
        </section>
        <!--******** SLIDER *******-->
        <section>
                <div class="cont-slider col-xs-12 col-sm-12 col-md-12">
                    <div class="icon-left-right col-xs-1 col-sm-1 col-md-1"><span><i class="glyphicon glyphicon-chevron-left"></i></span></div>
                    <div class="img-slider col-xs-9 col-sm-9 col-md-9">
                        <img src="../assets/images/londres.jpg" class="thumbnail img-responsive col-xs-5" alt="">
                        <img src="../assets/images/londres.jpg" class="thumbnail img-responsive col-xs-5" alt="">
                        
                    </div>
                    <div class="icon-left-right col-xs-1 col-sm-1 col-md-1"><span><i class="glyphicon glyphicon-chevron-right"></i></span></div>
                </div>
        </section> 


    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/contenido.js"></script>
    
</body>
</html>