<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Viru Social</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme:400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--vista inicio de sesion-->
    <div class="container-fluid log-in">
        <div class="row image-title">
          <!--boton que permite retroseder a la vista principal-->
            <div class="col-xs-2  col-md-1">
                <a href="../index.html">
                    <img src="../assets/images/llama.png" class="img-responsive" alt="">
                    <p class="login-paragraph">Atrás</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="title-log-in">VIRÚ SOCIAL</h1>
            </div>
        </div>
        <form action="" id="user-login">
            <div class="input-group log-in col-md-offset-2 col-md-8 col-md-offset-2 ">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                <input id="email2" type="correo" class="form-control" name="correo" placeholder="Correo">
            </div>
            <div class="input-group log-in col-md-offset-2 col-md-8 col-md-offset-2 password">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <input id="password2" type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-3 col-md-offset-3 col-md-7">
                  <div class="btn-toolbar" role="toolbar">
                      <button type="button" class="btn-twitter btn btn-default">
                          <span><img src="../assets/images/logotwitter.png" class="img-responsive img-login" alt=""></span>Accede con twitter
                      </button>
                      <button type="button" class="btn-fb btn btn-default">
                          <span><img src="../assets/images/facebook.png" class="img-responsive img-login" alt=""></span>Accede con Facebook
                      </button>
                      <button type="button" class="btn-Universdd btn btn-default">
                          <span><img src="../assets/images/institusional.png" class="img-responsive img-login" alt=""></span> Correo Institucional
                      </button>
                    </div>
                </div>
            </div>
            <!--boton inicio de sesión en proceso de mejora -->
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-md-offset-3 text-center">
                  <button type="button" class="btn btn-lg btn-block submit text-uppercase" onclick="login()">Iniciar Sesion</button>
                </div>
            </div>
        </form>
    </div>
     <!-- scripts -->
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../js/app.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
